/*
============================================================
  nextflow.config — Configuración del workflow ADO
============================================================
*/

// Parámetros por defecto (puedes cambiarlos al ejecutar)
params {
    fastq   = "ERR15113764.fastq"
    contigs = "contigs.fasta"
    outdir  = "resultados"
    min_id  = 80
    min_cov = 80
}

// Configuración de recursos
process {
    cpus   = 4
    memory = '8 GB'
    time   = '2h'
}

// Mostrar info al inicio
manifest {
    name        = 'Workflow ADO'
    description = 'FastQC + ABRicate (CARD, VFDB, ResFinder)'
    version     = '1.0'
}
